<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <title>Document</title>
</head>
<body>
    <h1>Hi,</h1>
<p>
    In order to use our services, please click the link below:
    <be>
    <a href="{{ url }}">verify email</a>
</p>
<p>If you did not create an account, you may ignore this message.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
        {% if '{{category}}' == 'info' %}
        <div class="notification">
            {{ message }}
        </div>        
        {% elif '{{category}}' == 'success' %}
        <div class="notification">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
        
    {% endif %}
{% endwith %}

</body>
</html>