<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Signup Page</title>
</head>

<body>  
  
  <div class="wrapper">
    <div class="container">
      <h1>SIGNUP</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}            
            {% if category == 'error' %}
              <div class="notification is-danger">
                {{ message }}. Go to <a href="{{ url_for('login') }}">login page</a>.
              </div>
              
            {% elif category == 'success' %}
              <div class="notification">
                {{ message }}
              </div>
    
            {% elif category == 'exception' %}
            <div class="notification is-danger">
              {{ message }}
            </div>  
              
            {% endif %}
        {% endfor %}              
      {% endif %}
      {% endwith %}
          <form action="{{ url_for('signup') }}" method="post">
            <div class="row">
              <i class="fas fa-user"></i>
              <label >Name</label><br>
              <input type="text" name="name" id="name"  />
            </div>

            <div class="row">
              <i class="fas fa-envelope"></i>
              <label >Email</label><br>
              <input type="email" name="emailid" id="emailid" />
            </div>

            <div class="row">
              <i class="fas fa-key"></i>
              <label >Password</label><br>
              <input type="password" name="pwd" id="pwd" /> 
            </div>

            <div class="row">
              <i class="fas fa-key"></i>
              <label >Confirm password</label><br>                  
              <input type="password" name="cpwd" id="cpwd" />
            </div>
            
            <div class="row button">
              <button type="submit">REGISTER</button>
            </div>

            <div class="txt">
              <p>Have already an account? 
                <a class="links" href="{{ url_for('login') }}">Login here</a>
              </p>
            </div>
          </form>        

    </div>
  </div>
 
  </body>
</html>
